@import "tailwindcss";

:root {
    --bg-primary: #f9fafb;
    --bg-secondary: #ffffff;
    --text-primary: #111827;
    --text-secondary: #ffffff;
    --border-color: #e5e7eb;
    --button-primary: #979797;
    --button-secondary: #ececec;
}

.dark {
    --bg-primary: #0b0b0c;
    --bg-secondary: #1d1d1f;
    --text-primary: #f9fafb;
    --text-secondary: #d1d5db;
    --button-primary: #f9fafb;
    --border-color: #0b0b0c;
    --button-primary: #363636;
    --button-secondary: #161616;
}

body {
    @apply bg-[var(--bg-primary)] text-[var(--text-primary)] transition-colors duration-200;
}

.bg-primary {
    @apply bg-[var(--bg-primary)];
}

.bg-secondary {
    @apply bg-[var(--bg-secondary)];
}

.text-primary {
    @apply text-[var(--text-primary)];
}

.text-secondary {
    @apply text-[var(--text-secondary)];
}

.border-primary {
    @apply border-[var(--border-color)];
}

.bg-button-primary {
    @apply bg-[var(--button-primary)];
}

.bg-button-secondary {
    @apply bg-[var(--button-secondary)];
}